header.demo-header
	.container
		//- h1.logo Logo
		a(href="index.html").logo
			img(src="../../static/img/logo.png", alt="")
		nav.nav
			ul.nav-list
				li
					a(href='#') Home
				li
					a(href='#') About
				li
					a(href='#') Products +
					ul.sub-menu
						li
							a(href='#') Products one
						li
							a(href='#') Products Twe
				li
					a(href='#') Contact