@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');
$font-one: 'Source Sans Pro', sans-serif;

// Colors
$white: #fff;
$gray: #dedede;
$dark: #414141;
$green: #11977e;